.pokedex-flex {
    box-sizing: border-box;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-container {
    height: 120px;
    width: 165px;
    background-color: #48D1B1;
    color: white;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}

.pokemon-container img {
    height: 90px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.pokemon-info {
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pokemon-type {
    height: 20px;
    width: 65px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #61E1C8;
    margin-top: 5px;
}

.grass {
    background: #48D1B1;
}

.grass-type {
    background: #61E1C8;
}

.fire {
    background: #EF6566;
}

.fire-type {
    background: #F18D8C;
}

.water {
    background: #77BEF9;
}

.water-type {
    background: #8FD0FA;
}

.electric {
    background: #FBD86E;
}

.electric-type {
    background: #FDE78A;
}