.pokedex-flex {
    box-sizing: border-box;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-container {
    height: 120px;
    width: 165px;
    background-color: #48D1B1;
    color: white;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}

.pokemon-container img {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -50px;
}

.pokemon-info {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin: 0px;
}

.pokemon-type {
    height: 22px;
    width: 65px;
    font-size: 13px;
    line-height: 22px;
    border-radius: 20px;
    background-color: #61E1C8;
}