.landing {
    min-height: 100vh;
    background-color: #E9E9E9;
    position: relative;
}


.background-gray-icon {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -110px;
    right: -75px;
}

.link-search-container {
    height: 60vh;
    box-sizing: border-box;
    padding: 35px 15px 10px 15px;
    border-radius: 0px 0px 30px 30px;
    background-color: snow;
}

.search-bar {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 40px;
    border: none;
    border-radius: 20px;
    background-color: #E9E9E9;
    font-size: 18px;
    background-image: url('../../assets/search.svg');
    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    outline: none;
}

.landing-link-flex {
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.landing-links {
    height: 60px;
    width: 48%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 15px;
    background: blue;
    color: white;
    font-weight: bold;
    line-height: 55px;
    text-align: left;
    text-decoration: none;
    overflow: hidden;
}

.bubble-style {
    height: 44px;
    width: 44px;
    border-radius: 45%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: -25px;
    left: -21px;
}

.pokeball-icon {
    height: 70px;
    width: 70px;
    position: absolute;
    right: -20px;
    bottom: -8px;
}

.news-container {
    min-height: 40vh;
    background-color: #E9E9E9;
    padding: 25px 15px 0px 15px;
}

.article-link {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.article-link h5 {
    width: 60%;
    text-align: left;
}

.article-link img {
    height: 75px;
    width: 90px;
    border-radius: 20px;
}