.pokemon {
    height: 100vh;
    box-sizing: border-box;
    color: white;
}

.pokemon-about {
    height: 55%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    position: fixed;
    bottom: 0px;
    background: snow;
    color: black;
    border-radius: 25px 25px 0px 0px;
}

.pokemon-about-image {
    width: 200px;
    position: absolute;
    top: -55%;
    left: 50%;
    margin-left: -100px;
}

.link-flex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.about-links {
    text-decoration: none;
    color: lightgray;
    line-height: 30px;
}

.active-link {
    color: black;
    border-bottom: 3px solid #77BEF9;
}