.pokemon {
    height: 100vh;
    box-sizing: border-box;
    color: white;
}

.pokemon-intro {
    padding: 30px 15px 0px 15px;
}

.types-flex {
    margin-top: 10px;
    display: flex;
}

.pokemon-intro-type {
    height: 25px;
    width: 80px;
    line-height: 25px;
    border-radius: 20px;
    font-weight: bold;
    margin: 0px 4px;
}

.square-style {
    height: 140px;
    width: 140px;
    border-radius: 15px;
    transform: rotate(70deg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .2));
    position: fixed;
    top: -50px;
    left: -50px;
}

.dots {
    height: 35px;
    opacity: .5;
    position: fixed;
    top: 2px;
    right: 20%;
}

.pokeIcon {
    height: 180px;
    width: 180px;
    position: fixed;
    top: 26%;
    right: -20px;
    opacity: .4;
}

.pokemon-about {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    position: fixed;
    bottom: 0px;
    background: snow;
    color: black;
    border-radius: 25px 25px 0px 0px;
}

.pokemon-about-image {
    width: 200px;
    position: absolute;
    top: -55%;
    left: 50%;
    margin-left: -100px;
}

.link-flex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.about-links {
    text-decoration: none;
    color: lightgray;
    line-height: 30px;
    font-weight: 600;
}

.active-link {
    color: black;
    border-bottom: 3px solid #77BEF9;
}